@use 'sprucecss/scss/spruce' as *;

.container {
  align-items: center;
  block-size: 100lvh;
  display: flex;
  justify-content: center;
  margin: spacer('m');
  min-block-size: 30rem;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: spacer('m');
    inline-size: 30rem;
    max-inline-size: 100%;
  }
}
